<h1 class="text-center my-3">Lista de Livros</h1>
<table class="table">
<div class="row">
<div class="col-12">
<thead>
</thead>
<tbody>
<tr>
{{#each livro}}
<th><center><img src="{{this.link}}" alt="mostrar imagem" width=150
height=150><br>
<strong>{{this.titulo}}</strong><br>
{{this.autor}} <br>
R${{this.preco}} <br>
cod. Livro:{{this.id_livro}}<br>
<a href="/carrinho/Adicionar/{{this.id_livro}}/{{this.titulo}}"><img src="https://pt.seaicons.com/wp-
content/uploads/2015/06/Shopping-basket-add-icon.png" width=20 height=20
alt="mostrar imagem" title="Clique para adicionar ao carrinho" /></a>
</th>
{{/each}}
</tr>
</tbody>
</div>
</div>
</table>